<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
        <h1>Для того, чтобы смотреть видео, необходимо зарегестрироваться или войти</h1>
        <--!Надо здесь прописать отправление в БД? !-->
        <a href="/register">
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Зарегестрироваться</button>
            </div>
        </a>
        <a href="/login">
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
        </a>

    </body>
    </html>
{% endblock %}