<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
        {% if not logged_in %}
            <h1>Для того, чтобы смотреть видео, необходимо зарегистрироваться или войти</h1>
            <a href="/register">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
                </div>
            </a>
            <br>
            <a href="/login">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Войти</button>
                </div>
            </a>
        {% else %}
            <h1>Вы ранее вошли в аккаунт. Что хотите сделать сейчас?</h1>
            <a href="/video">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Смотреть видео</button>
                </div>
            </a>
            <br>
            <a href="/logout">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Выйти из аккаунта</button>
                </div>
            </a>
            <br>
            <a href="/opencv">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Активировать OpenCV</button>
                </div>
            </a>
            <br>
        {% endif %}

    </body>
    </html>
{% endblock %}