{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form action="/register/" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Зарегистрируйтесь здесь</legend>
                <div>
                    Имя пользователя :
                    <input type="text" name="username">
                </div>
                <div>
                    Почта :
                    <input type="email" name="email">
                </div>
                <div>
                    Пароль:
                    <input type="password" name="password1">
                </div>
                <div>
                    Введите пароль еще раз:
                    <input type="password" name="password2">
                </div>
                <div>
                    <input type="submit" value="Зарегистрироваться">
                </div>

            </fieldset>


        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                 Уже есть аккаунт? <a class="ml-2" href="/login">Войти</a>
            </small>
        </div>
    </div>

{% endblock content %}